@page "/BasicManagement"
@using Microsoft.Extensions.Localization
@using global::BasicManagement.Localization
@inject IStringLocalizer<BasicManagementResource> L
@{
}
<h1>BasicManagement</h1>
<p>@L["SamplePageMessage"]</p>