@page "/SystemManagement"
@using Microsoft.Extensions.Localization
@using global::SystemManagement.Localization
@inject IStringLocalizer<SystemManagementResource> L
@{
}
<h1>SystemManagement</h1>
<p>@L["SamplePageMessage"]</p>